<app-base-layout>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <app-tab>
                <app-tab-item>
                    <app-tab-label [Id]="'Detail Person'">Detail Person</app-tab-label>
                    <app-tab-body></app-tab-body>
                </app-tab-item>
                <app-tab-item>
                    <app-tab-label [Id]="'Alamat dan Kontak Person'">Alamat dan Kontak Person</app-tab-label>
                    <app-tab-body></app-tab-body>
                </app-tab-item>
                <app-tab-item>
                    <app-tab-label [Id]="'Foto Person'">Foto Person</app-tab-label>
                    <app-tab-body></app-tab-body>
                </app-tab-item>
            </app-tab>
        </div>
    </div>
</app-base-layout>