<app-base-layout>
    <!-- Header -->
    <div class="row mb-4 align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h4 class="mb-0 fw-bold">
                Chat
            </h4>
        </div>
    </div>

    <!-- Body -->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ps-0">
            <div class="card shadow-sm" style="border-radius: 10px; border: 2px #f3f3f3 solid">
                <div class="card-header px-2 py-1">
                    <h4 class="modal-title mb-0">
                        Chat List
                    </h4>
                </div>
                <div class="card-body p-2" style="height: calc(100vh - 11rem); overflow-y: auto;">
                    <ul class="list-group">
                        <li *ngFor="let item of ListChat" class="list-group-item border-0 shadow-sm mb-2 cursor-pointer"
                            style="border-radius: 10px; border: 2px #f3f3f3 solid">

                            <p class="text-black mb-1 fw-bold">
                                {{ item.sender_name }}
                                <span class="text-abu-tua float-end" style="font-size: 12px">
                                    {{ item.time | date: 'HH:mm' }}
                                </span>
                            </p>

                            <p class="text-abu-tua mb-0">
                                {{ item.recent_chat }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pe-0">
            <app-chat [ChatDatasource]="ChatDatasource" [ShowHeader]="true"></app-chat>
        </div>
    </div>
</app-base-layout>